
<div *ngIf="(user$ | async) != null ; else elseBlock">

  <div class="recapContainer">
      <h4>Vos informations</h4>
      <ul class="collection with-header containerPadding">
        <li>
          Nom : {{ (user$|async).nom }}
        </li>
        <li>
          Prénom : {{ (user$|async).prenom }} 
        </li>
        <li>
          Mail : {{ (user$|async).mail }}
        </li>
      </ul>
  </div>

  <div class="recapContainer">
    <h4>Modifier vos informations</h4>
    <ul class="collection with-header containerPadding">
      <li> <a>Modifier le prénom</a> </li>
      <li> <a>Modifier le nom</a> </li>
      <li> <a>Modifier le mail</a> </li>
      <li> <a>Modifier le mot de passe</a> </li>
    </ul>
  </div>

</div>

<ng-template #elseBlock>
  <h4>Vous n'êtes pas connecté</h4>
  <h6>Pour accéder à votre espace vous pouvez créer un compte ou vous connecter à un compte déja créé</h6>
</ng-template>